certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.3.2
cycler==0.12.1
filelock==3.18.0
flask-sqlalchemy==3.1.1
fonttools==4.57.0
fsspec==2025.3.2
greenlet==3.2.1
idna==3.10
kiwisolver==1.4.8
matplotlib==3.10.1
mpmath==1.3.0
flask-cors>=3.0.10,<4.0
networkx==3.4.2
numpy==2.1.1
opencv-python==4.11.0.86
packaging==25.0
flask-session==0.8.0
pandas==2.2.3
pillow==11.2.1
psutil==7.0.0
py-cpuinfo==9.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
requests==2.32.3
scipy==1.15.2
seaborn==0.13.2
sqlalchemy==2.0.40
sympy==1.13.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing-extensions==4.13.2
tzdata==2025.2
ultralytics==8.3.114
ultralytics-thop==2.0.14
urllib3==2.4.0
