<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="image-container">
        <img
          class="fade-in"
          src="{{ url_for('static', filename='images/logo_bakalarka_2.png') }}"
          alt="My Image"
        />
      </div>
      <p id="your_journey">START YOU’RE JOURNEY</p>
      <div class="container-form">
        <input type="text" id="name" placeholder="Name" required />
        <input type="email" id="email" placeholder="Email" required />
        <input type="password" id="password" placeholder="Password" required />
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirm Password"
          required
        />
        <p class="error" id="error"></p>
        <button onclick="register()">Sign Up</button>
        <p id="account">
          Already have an account? <a href="sign_in">Log in</a>
        </p>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
  </body>
</html>
